body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 360px; /* 宽度为 360px */
    height: 600px; /* 高度为 600px */
    overflow: hidden; /* 防止内容溢出 */
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 224, 224, 0.02);
}

h1 {
    font-size: 22px;
    margin: 0;
    color: #1d2027;
    margin-bottom: 8px;
}

h2 {
    font-size: 24px;
    margin: 0;
    color: #1d2027;
    text-align: left;

}

p {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-align: left;
    margin: 0;
}

a {
    color: rgb(113 128 150);
    font-size: 14px;
    font-weight: 600;
}

a:hover {
    color: #5ba7fc;
}

ul {
    list-style-type: none;
    padding-left: 12px;
    font-size: 14px;
    margin: 0;
}

.login-container {
    padding: 48px 24px;
}

.login-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中对齐 */
    text-align: center; /* 使文本居中对齐 */
}

.logo {
    width: 72px;
    margin: 0 auto;
}

.login-header p {
    margin-top: 12px;
}

.login-body {
    margin: 44px 0;
}

.login-body input[type="password"],
.login-body input[type="text"] {
    width: 100%;
    padding: 16px 8px;
    font-size: 16px;
    border: 2px solid #ECEFF2;
    background-color: #F5F7F8;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    letter-spacing: 0.1em; /* Increase the spacing between characters */
    margin: 12px 0;
}

.primary-button {
    width: 100%;
    padding: 18px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5ba7fc;
    color: #fff;
    margin-bottom: 12px;
}

.primary-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.primary-button:hover {
    background-color: rgba(91, 167, 252, 0.5);
}

.login-error {
    color: #f50505;
}

.login-footer p {
    text-align: center;
}

.tab-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 20px;
    background-color: #5ba7fc;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.tab.active {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.wallet-content-area > div {
    display: none;
}

.wallet-content-area > div.active {
    display: block;
}


.wallet-content-area {
    padding: 8px 24px;
    margin: 0 auto;
    text-align: center;
}

.account-header {
    background-color: #5ba7fc;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.account-header p {
    color: #ffffff;
    font-size: 16px;
    margin-left: 8px;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropdown-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.balance {
    font-size: 48px;
    font-weight: 600;
}

.balanceUsd {
    font-size: 16px;
    font-weight: 300;
}

.plugin-setting {
    background-color: transparent;
    border: none;
}

.btnAll {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 44px;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.function-btn {
    width: 42px;
    height: 42px;
    background-color: #5ba7fc;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.function-btn:hover {
    background-color: rgba(91, 167, 252, 0.8);
}

.function-btn img {
    width: 42px;
    height: 42px;
}

.dessage-token-operation span {
    color: rgb(113 128 150);
}

.accountInfo {
    width: 100%;
    padding: 12px 8px;
    font-size: 18px;
    border: 2px solid #ECEFF2;
    background-color: #F5F7F8;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 32px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    height: 18px;
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 12px;
    position: absolute;
    top: -32px;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Adjust as needed */
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.eth-accountInfo,
.nostr-accountInfo,
.btc-accountInfo {
    padding: 12px 8px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #ECEFF2;
    background-color: #F5F7F8;
    margin-bottom: 32px;
    border-radius: 5px;
}

.account-address {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}

.qr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 4px;
    background-color: transparent;
    background-size: contain; /* 确保背景图适应按钮 */
    background-repeat: no-repeat; /* 确保背景图不重复 */
}

.qr-btn img {
    width: 24px;
    height: 24px;
    z-index: 2;
}

.qr-btn :hover {
    background-color: rgba(204, 204, 204, 0.3);
}

.ninja-account-info span,
.account-address span {
    font-size: 14px;
    font-weight: normal;
    color: #718096;
    background-color: rgba(204, 204, 204, 0.3);
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
}

.balance-unit {
    font-size: 12px;
    font-weight: normal;
    color: #718096;
}

.account-detail-item.active {
    background-color: rgb(246, 0, 0);
}

.account-list-area {
    display: block; /* 或者通过 JavaScript 动态控制显示 */
    position: fixed; /* 使其固定在视口 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 添加半透明背景，使得内容更易于阅读 */
    z-index: 9999; /* 设置高 z-index 确保在页面最上层 */
    padding: 20px; /* 可选：增加一些内边距 */
    box-sizing: border-box;
    overflow-y: auto; /* 允许内容超出时滚动 */
}
